<!--底部-->
<div class="g-bottom">
	<!--底部导航-->
	<div class="m-navBottom w f-cb">
		<div class="m-navBottom-ul">
			<h3>
				<span class="u-img"><img src="img/wymmc-buy.png"/></span>
				<p class="u-title">我要买木材</p>
			</h3>
			<ul>
				<li><a href="javascript:;">如何委托找货</a></li>
				<li><a href="javascript:;">如何自己找货</a></li>
				<li><a href="javascript:;">如何查看订单信息</a></li>
			</ul>
		</div>
		<div class="m-navBottom-ul">
			<h3>
				<span class="u-img"><img src="img/wymmc-sell.png"/></span>
				<p class="u-title">我要卖木材</p>
			</h3>
			<ul>
				<li><a href="javascript:;">如何委申请卖家</a></li>
				<li><a href="javascript:;">如何发布商品</a></li>
				<li><a href="javascript:;">如何吸引更多买家</a></li>
			</ul>
		</div>
		<div class="m-navBottom-ul">
			<h3>
				<span class="u-img"><img src="img/cjwt.png"/></span>
				<p class="u-title">常见问题</p>
			</h3>
			<ul>
				<li><a href="javascript:;">注册／登录</a></li>
				<li><a href="javascript:;">会员中心</a></li>
				<li><a href="javascript:;">个人／企业认证</a></li>
			</ul>
		</div>
		<div class="m-navBottom-ul">
			<h3>
				<span class="u-img"><img src="img/lxwm.png"/></span>
				<p class="u-title">关于我们</p>
			</h3>
			<ul>
				<li><a href="javascript:;">网站介绍</a></li>
				<li><a href="javascript:;">服务条款</a></li>
				<li><a href="javascript:;">联系方式</a></li>
			</ul>
		</div>
		<!--微信公众号-->
		<div class="u-WeChat f-fl">
			<p class="u-img"><img src="img/wxgzh.png"/></p>
			<p>尚木网微信公众号</p>
		</div>
	</div>
	<!--版权信息-->
	<div class="m-copyright">
		<p>
			<span>©2015-2017版权所有</span>
			<span class="u-name">
				<a href="/">江苏长江木商数字科技有限公司</a>
			</span>
			<span id="busuanzi_container_site_uv">
				您是本站第 <span id="busuanzi_value_site_uv"></span> 位访客
			</span>
		</p>
	</div>
</div>
