<!-- 求购资源 start -->
<div class="g-buyresource-container">
	<div class="g-buyresource w">
		<!-- 面包屑导航 start -->
		<div class="m-crumbs">
			<ul class="f-cb">
				<li><a href="/">首页</a></li>
				<li><a href="buyresource">求购资源</a></li>
			</ul>
		</div>
		<!-- 面包屑导航 end -->
		<!-- 主体 start -->
		<div class="m-br-main f-cb">
			<!-- 左边部分 start -->
			<div class="m-brMain-left f-fl">
				<!-- 删选 start -->
				<div class="m-co-option f-cb">
					<div class="m-co-option-left f-fl f-cb">
						<div class="m-coOption-input-group f-cb f-fl">
							<span class="f-fl">地区</span>
							<div class="m-co-option-select f-fr">
								<select name="">
									<option value="全部">全部</option>
									<option value="江苏">江苏</option>
									<option value="浙江">浙江</option>
								</select>
								<span class="u-img"><img src="img/shopcart-jt.png"/></span>
							</div>
						</div>
						<div class="m-coOption-input-group f-cb f-fl">
							<span class="f-fl">品名</span>
							<div class="m-co-option-input f-fr">
								<input type="" name="" id="" value="" placeholder="输入品名搜索"/>
							</div>
						</div>
						<!-- 搜索按钮 -->
						<input class="m-co-option-search" type="button" name="" id="" value="搜索" />
					</div>
					<div class="m-co-option-right f-fr">
						<span class="u-sum">总共888个资源</span>
						<!-- 翻页 -->
						<span class="m-page f-banselect">
							<span class="u-prev active">&lt;</span>
							<span class="u-pageNum">
								<span class="u-nowPage">1</span>/<span class="u-sumPage"></span>
							</span>
							<span class="u-next">&gt;</span>
						</span>
					</div>
				</div>
				<!-- 删选 end -->
				<!-- 求购资源列表 start -->
				<div class="m-br-list">
					<ul>
						<li class="m-br-list-li f-cb" data-deliveryTime = "2507540641365">
							<!-- 左边 -->
							<div class="m-brList-left f-fl f-cb">
								<div class="m-brList-info f-fl">
									<h3>
										<span class="u-brLis-title">求购云杉/樟子松</span>
										<span class="u-brLis-price">双方议价</span>
									</h3>
									<ul class="m-brLis-details f-cb">
										<li>
											<span>规格：</span>
											<span>19*75/16*100*整米</span>
										</li>
										<li>
											<span>采购地区：</span>
											<span>太仓</span>
										</li>
										<li>
											<span>数量：</span>
											<span>100立方</span>
										</li>
										<li>
											<span>联系客服：</span>
											<a href="javascript:;" class="u-qqContact">
												<span><img src="img/qq-icon.png"/></span>
												<span>QQ联系</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="m-brLis-time f-fl">
									<p class="u-countDown">剩余 <span class="u-unit">天</span><span class="u-unit">时</span><span class="u-unit">分</span><span class="u-unit">秒</span></p>
									<p class="u-releaseTime"><span>发布时间：</span><span>2017-09-04</span></p>
								</div>
								<!-- 备注 -->
								<div class="u-remark f-fl">
									<span>备注</span>
									<span>求购冈比亚的刺猬紫檀原木 要广东当地的，规格19*75/16*100*整米</span>
								</div>
							</div>
							<!-- 右边当前状态 -->
							<div class="m-stateRight f-fr">
								<p class="u-state">报价中</p>
								<span class="u-state-off"><img src="img/cj-icon.png"/></span>
								<a class="u-supplyBtn" href="javascript:;">我要供货</a>
							</div>
						</li>
						<li class="m-br-list-li f-cb" data-deliveryTime = "1507532087907">
							<!-- 左边 -->
							<div class="m-brList-left f-fl f-cb">
								<div class="m-brList-info f-fl">
									<h3>
										<span class="u-brLis-title">求购云杉/樟子松</span>
										<span class="u-brLis-price">双方议价</span>
									</h3>
									<ul class="m-brLis-details f-cb">
										<li>
											<span>规格：</span>
											<span>19*75/16*100*整米</span>
										</li>
										<li>
											<span>采购地区：</span>
											<span>太仓</span>
										</li>
										<li>
											<span>数量：</span>
											<span>100立方</span>
										</li>
										<li>
											<span>联系客服：</span>
											<a href="javascript:;" class="u-qqContact">
												<span><img src="img/qq-icon.png"/></span>
												<span>QQ联系</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="m-brLis-time f-fl">
									<p class="u-countDown">剩余 <span class="u-unit">天</span><span class="u-unit">时</span><span class="u-unit">分</span><span class="u-unit">秒</span></p>
									<p class="u-releaseTime"><span>发布时间：</span><span>2017-09-04</span></p>
								</div>
								<!-- 备注 -->
								<div class="u-remark f-fl">
									<span>备注</span>
									<span>求购冈比亚的刺猬紫檀原木 要广东当地的，规格19*75/16*100*整米求购冈比亚的刺猬紫檀原木 要广东当地的，规格19*75/16*100*整米</span>
								</div>
							</div>
							<!-- 右边当前状态 -->
							<div class="m-stateRight m-stateRight-off f-fr">
								<p class="u-state">报价中</p>
								<span class="u-state-off"><img src="img/cj-icon.png"/></span>
								<input class="u-supplyBtn" type="button" name="" id="" value="我要供货"/>
							</div>
						</li>
						<li class="m-br-list-li f-cb" data-deliveryTime = "1907540641365">
							<!-- 左边 -->
							<div class="m-brList-left f-fl f-cb">
								<div class="m-brList-info f-fl">
									<h3>
										<span class="u-brLis-title">求购云杉/樟子松</span>
										<span class="u-brLis-price">双方议价</span>
									</h3>
									<ul class="m-brLis-details f-cb">
										<li>
											<span>规格：</span>
											<span>19*75/16*100*整米</span>
										</li>
										<li>
											<span>采购地区：</span>
											<span>太仓</span>
										</li>
										<li>
											<span>数量：</span>
											<span>100立方</span>
										</li>
										<li>
											<span>联系客服：</span>
											<a href="javascript:;" class="u-qqContact">
												<span><img src="img/qq-icon.png"/></span>
												<span>QQ联系</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="m-brLis-time f-fl">
									<p class="u-countDown">剩余 <span class="u-unit">天</span><span class="u-unit">时</span><span class="u-unit">分</span><span class="u-unit">秒</span></p>
									<p class="u-releaseTime"><span>发布时间：</span><span>2017-09-04</span></p>
								</div>
								<!-- 备注 -->
								<div class="u-remark f-fl">
									<span>备注</span>
									<span>求购冈比亚的刺猬紫檀原木 要广东当地的，规格19*75/16*100*整米</span>
								</div>
							</div>
							<!-- 右边当前状态 -->
							<div class="m-stateRight f-fr">
								<p class="u-state">报价中</p>
								<span class="u-state-off"><img src="img/cj-icon.png"/></span>
								<a class="u-supplyBtn" href="javascript:;">我要供货</a>
							</div>
						</li>
						<li class="m-br-list-li f-cb" data-deliveryTime = "3507540641365">
							<!-- 左边 -->
							<div class="m-brList-left f-fl f-cb">
								<div class="m-brList-info f-fl">
									<h3>
										<span class="u-brLis-title">求购云杉/樟子松</span>
										<span class="u-brLis-price">双方议价</span>
									</h3>
									<ul class="m-brLis-details f-cb">
										<li>
											<span>规格：</span>
											<span>19*75/16*100*整米</span>
										</li>
										<li>
											<span>采购地区：</span>
											<span>太仓</span>
										</li>
										<li>
											<span>数量：</span>
											<span>100立方</span>
										</li>
										<li>
											<span>联系客服：</span>
											<a href="javascript:;" class="u-qqContact">
												<span><img src="img/qq-icon.png"/></span>
												<span>QQ联系</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="m-brLis-time f-fl">
									<p class="u-countDown">剩余 <span class="u-unit">天</span><span class="u-unit">时</span><span class="u-unit">分</span><span class="u-unit">秒</span></p>
									<p class="u-releaseTime"><span>发布时间：</span><span>2017-09-04</span></p>
								</div>
								<!-- 备注 -->
								<div class="u-remark f-fl">
									<span>备注</span>
									<span>求购冈比亚的刺猬紫檀原木 要广东当地的，规格19*75/16*100*整米求购冈比亚的刺猬紫檀原木 要广东当地的，规格19*75/16*100*整米</span>
								</div>
							</div>
							<!-- 右边当前状态 -->
							<div class="m-stateRight m-stateRight-off f-fr">
								<p class="u-state">报价中</p>
								<span class="u-state-off"><img src="img/cj-icon.png"/></span>
								<input class="u-supplyBtn" type="button" name="" id="" value="我要供货"/>
							</div>
						</li>
						<li class="m-br-list-li f-cb" data-deliveryTime = "1509540641365">
							<!-- 左边 -->
							<div class="m-brList-left f-fl f-cb">
								<div class="m-brList-info f-fl">
									<h3>
										<span class="u-brLis-title">求购云杉/樟子松</span>
										<span class="u-brLis-price">双方议价</span>
									</h3>
									<ul class="m-brLis-details f-cb">
										<li>
											<span>规格：</span>
											<span>19*75/16*100*整米</span>
										</li>
										<li>
											<span>采购地区：</span>
											<span>太仓</span>
										</li>
										<li>
											<span>数量：</span>
											<span>100立方</span>
										</li>
										<li>
											<span>联系客服：</span>
											<a href="javascript:;" class="u-qqContact">
												<span><img src="img/qq-icon.png"/></span>
												<span>QQ联系</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="m-brLis-time f-fl">
									<p class="u-countDown">剩余 <span class="u-unit">天</span><span class="u-unit">时</span><span class="u-unit">分</span><span class="u-unit">秒</span></p>
									<p class="u-releaseTime"><span>发布时间：</span><span>2017-09-04</span></p>
								</div>
								<!-- 备注 -->
								<div class="u-remark f-fl">
									<span>备注</span>
									<span>求购冈比亚的刺猬紫檀原木 要广东当地的，规格19*75/16*100*整米</span>
								</div>
							</div>
							<!-- 右边当前状态 -->
							<div class="m-stateRight f-fr">
								<p class="u-state">报价中</p>
								<span class="u-state-off"><img src="img/cj-icon.png"/></span>
								<a class="u-supplyBtn" href="javascript:;">我要供货</a>
							</div>
						</li>
						<li class="m-br-list-li f-cb" data-deliveryTime = "1507540461365">
							<!-- 左边 -->
							<div class="m-brList-left f-fl f-cb">
								<div class="m-brList-info f-fl">
									<h3>
										<span class="u-brLis-title">求购云杉/樟子松</span>
										<span class="u-brLis-price">双方议价</span>
									</h3>
									<ul class="m-brLis-details f-cb">
										<li>
											<span>规格：</span>
											<span>19*75/16*100*整米</span>
										</li>
										<li>
											<span>采购地区：</span>
											<span>太仓</span>
										</li>
										<li>
											<span>数量：</span>
											<span>100立方</span>
										</li>
										<li>
											<span>联系客服：</span>
											<a href="javascript:;" class="u-qqContact">
												<span><img src="img/qq-icon.png"/></span>
												<span>QQ联系</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="m-brLis-time f-fl">
									<p class="u-countDown">剩余 <span class="u-unit">天</span><span class="u-unit">时</span><span class="u-unit">分</span><span class="u-unit">秒</span></p>
									<p class="u-releaseTime"><span>发布时间：</span><span>2017-09-04</span></p>
								</div>
								<!-- 备注 -->
								<div class="u-remark f-fl">
									<span>备注</span>
									<span>求购冈比亚的刺猬紫檀原木 要广东当地的，规格19*75/16*100*整米求购冈比亚的刺猬紫檀原木 要广东当地的，规格19*75/16*100*整米</span>
								</div>
							</div>
							<!-- 右边当前状态 -->
							<div class="m-stateRight m-stateRight-off f-fr">
								<p class="u-state">报价中</p>
								<span class="u-state-off"><img src="img/cj-icon.png"/></span>
								<input class="u-supplyBtn" type="button" name="" id="" value="我要供货"/>
							</div>
						</li>
					</ul>
					<!--分页  start -->
					<div class="page f-banselect"></div>
					<!-- 分页end -->
				</div>
				<!-- 求购资源列表 end -->
			</div>
			<!-- 左边部分 end -->
			<!-- 右边部分 start -->
			<div class="m-brMain-right f-fr">
					<!-- 免登录找货助手 start -->
					<div class="m-btn-mdlzhzs">
						<h4>
							<span class="u-img"><img src="img/mdlzhzs-ico.png"/></span>
							<span class="u-text">免登录找货助手</span>
						</h4>
						<form action="" method="get" class="f-cb">
							<textarea class="f-boxSizing" name="" rows="4" cols="" placeholder="写下您的真实需求，我们为您找最便宜的货！"></textarea>
							<!--联系人-->
							<input class="u-linkman f-boxSizing f-fl" type="text" name="" id="" value="" placeholder="联系人"/>
							<!--手机号-->
							<input class="u-mobile f-boxSizing f-fr" type="text" name="" id="" value="" placeholder="手机号"/>
							<!--提交按钮-->
							<input type="submit" name="" id="" value="委托找货" />
						</form>
					</div>
					<!-- 免登录找货助手 end -->
					<!-- 最新交易 start -->
						<div class="m-newDeal">
							<div class="u-title">
								最新交易
							</div>
							<div class="m-hotNews-table-container">
								<table class="m-hotNews-table" border="0" cellspacing="" cellpadding="">
								<tr>
									<th width="20%">会员</th>
									<th width="30%">采购产品</th>
									<th width="25%">时间</th>
									<th width="25%">状态</th>
								</tr>
							</table>
							<div id="A1" style="height: 352px;overflow: hidden;">
								<table class="m-hotNews-table m-hotNews-table-2" border="0" cellspacing="" cellpadding="">
									<tr>
										<td width="20%">刘开发</td>
										<td width="30%">樟子松樟子松樟子松樟子松樟子松樟子松樟子松樟子松</td>
										<td width="25%">08-23</td>
										<td width="25%">完成</td>
									</tr>
									<tr>
										<td width="20%">王三</td>
										<td width="30%">樟子松</td>
										<td width="25%">08-23</td>
										<td width="25%">完成</td>
									</tr>
									<tr>
										<td width="20%">王三</td>
										<td width="30%">樟子松</td>
										<td width="25%">08-23</td>
										<td width="25%">完成</td>
									</tr>
									<tr>
										<td width="20%">王三</td>
										<td width="30%">樟子松</td>
										<td width="25%">08-23</td>
										<td width="25%">完成</td>
									</tr>
									<tr>
										<td width="20%">王三</td>
										<td width="30%">樟子松</td>
										<td width="25%">08-23</td>
										<td width="25%">完成</td>
									</tr>
									<tr>
										<td width="20%">王三</td>
										<td width="30%">樟子松</td>
										<td width="25%">08-23</td>
										<td width="25%">完成</td>
									</tr>
									<tr>
										<td width="20%">王三</td>
										<td width="30%">樟子松</td>
										<td width="25%">08-23</td>
										<td width="25%">完成</td>
									</tr>
									<tr>
										<td width="20%">王三</td>
										<td width="30%">樟子松</td>
										<td width="25%">08-23</td>
										<td width="25%">完成</td>
									</tr>
									<tr>
										<td width="20%">王三</td>
										<td width="30%">樟子松</td>
										<td width="25%">08-23</td>
										<td width="25%">完成</td>
									</tr>
									<tr>
										<td width="20%">王三</td>
										<td width="30%">樟子松</td>
										<td width="25%">08-23</td>
										<td width="25%">完成</td>
									</tr>
									<tr>
										<td width="20%">王三</td>
										<td width="30%">樟子松</td>
										<td width="25%">08-23</td>
										<td width="25%">完成</td>
									</tr>
									<tr>
										<td width="20%">王三</td>
										<td width="30%">樟子松</td>
										<td width="25%">08-23</td>
										<td width="25%">完成</td>
									</tr>
									<tr>
										<td width="20%">王三</td>
										<td width="30%">樟子松</td>
										<td width="25%">08-23</td>
										<td width="25%">完成</td>
									</tr>
								</table>
							</div>
							</div>
						</div>
					<!-- 最新交易 end -->
				</div>
			<!-- 右边部分 end -->
		</div>
		<!-- 主体 end -->
	</div>
</div>
<!-- 求购资源 end -->

<script type="text/javascript">
	$(function () {
		/*调用分页*/
		onPage(10)
	})
</script>
