<!-- 商品详情 start -->
<div class="m-commodityDetails-container">
	<div class="m-commodityDetails w">
		<!-- 面包屑导航 start -->
		<div class="m-crumbs">
			<ul class="f-cb">
				<li><a href="/">首页</a></li>
				<li><a href="buyresource">现货资源</a></li>
				<li><a href="details">查看详情</a></li>
			</ul>
		</div>
		<!-- 面包屑导航 end -->
		<!-- 商品介绍 start -->
		<div class="f-cb">
			<!-- preview start -->
			<div class="preview f-fl" style="position: relative;">
				<div id="vertical" class="bigImg">
					<img src="img/detail_bigImg.png" width="430" height="430" alt="" id="midimg" />
					<div style="display:none;" id="winSelector"></div>
				</div>
				<!--bigImg end-->
				<div class="smallImg">
					<div class="scrollbutton smallImgUp disabled"></div>
					<div id="imageMenu">
						<ul>
							<li id="onlickImg"><img src="img/detail_bigImg.png" width="68" height="68" alt="" /></li>
							<li><img src="img/detail_bigImg.png" width="68" height="68" alt="" /></li>
							<li><img src="img/detail_bigImg.png" width="68" height="68" alt="" /></li>
							<li><img src="img/detail_bigImg.png" width="68" height="68" alt="" /></li>
							<li><img src="img/detail_bigImg.png" width="68" height="68" alt="" /></li>
							<!--<li><img src="img/detail_bigImg.png" width="68" height="68" alt="" /></li>-->
						</ul>
					</div>
					<div class="scrollbutton smallImgDown"></div>
				</div>
				<!--smallImg end-->
				<div id="bigView" style="display:none;"><img width="800" height="800" alt="" src="" /></div>
			</div>
			<!--preview end-->
			<!-- 商品介绍 右侧 start -->
			<div class="m-productsIntroduction f-fr">
				<h3>马来西亚橡胶木方条</h3>
				<!--价格、库存、起售量-->
				<div class="m-info-1 f-cb">
					<div class="m-price-sale f-fl">
						<p>
							<span class="u-name">价格</span>
							<span class="u-price"><b>3650.00</b>元/立方米</span>
						</p>
						<p>
							<span class="u-name">起售</span>
							<span>2立方米</span>
						</p>
					</div>
					<div class="m-inventory f-fr">
						<p class="u-num">300</p>
						<p>库存量</p>
					</div>
				</div>
				<!--具体参数-->
				<ul class="m-parameter f-cb">
					<li>
						<span>规格</span>
						<span>6.35（6.5）*6.35*46-154cm</span>
					</li>
					<li>
						<span>品牌</span>
						<span>-</span>
					</li>
					<li>
						<span>产地</span>
						<span>马来西亚</span>
					</li>
					<li>
						<span>材质</span>
						<span>橡胶木</span>
					</li>
					<li>
						<span>等级</span>
						<span>AB级</span>
					</li>
					<li>
						<span>计量单位</span>
						<span>立方米</span>
					</li>
					<li>
						<span>含水率</span>
						<span>9-12%</span>
					</li>
					<li>
						<span>包装方式</span>
						<span>进口原包装</span>
					</li>
					<li>
						<span>提货地点</span>
						<span>江苏省苏州市常熟市辛庄大道隆力奇公司对面立方米</span>
					</li>
				</ul>
				<!--加入购物车按钮组-->
				<div class="m-shopBtns f-cb">
					<div class="m-count f-fl f-cb f-banselect">
						<span>
							<input type="text" name="" id="productNum" value="1" />
						</span>
						<span class="u-add">+</span>
						<span class="u-minus disabled">-</span>
					</div>
					<span class="u-btn u-addCart f-fl">
						<span class="u-img"><img src="img/shop-right.png"/></span>
						<span>加入购物车</span>
					</span>
					<span class="u-btn u-contactService f-fl">
						联系客服
					</span>
				</div>
			</div>
			<!-- 商品介绍 右侧 end -->
		</div>
		<!-- 商品介绍 end -->
		<!-- 商品简介、规格参数、相关推荐 start -->
		<div class="m-deatil-main f-cb">
			<!-- 左侧的商品简介、规格参数 start -->
			<div class="m-deatilMain-left f-fl">
				<!--选项卡-->
				<ul class="u-tab">
					<li class="cur">商品简介</li>
					<li>规格参数</li>
				</ul>
				<!--商品简介-->
				<div class="m-deatilMain-left-body on">
					<ul class="m-synopsis-list f-cb">
						<li>
							<span>名称：</span>
							<span>马来西亚橡胶木方条</span>
						</li>
						<li>
							<span>等级：</span>
							<span>AB级</span>
						</li>
						<li>
							<span>品牌：</span>
							<span></span>
						</li>
						<li>
							<span>材质：</span>
							<span>橡胶木</span>
						</li>
						<li>
							<span>产地：</span>
							<span>马来西亚</span>
						</li>
						<li>
							<span>规格：</span>
							<span>6.35（6.5）*6.35*46-154cm</span>
						</li>
					</ul>
					<div class="m-deatilMain-left-synopsis">
						<span class="u-img"><img src="img/spjj-1.png" width="100%"/></span>
						<span class="u-img"><img src="img/spjj-1.png" width="100%"/></span>
					</div>
				</div>
				<!--规格参数-->
				<div class="m-deatilMain-left-body">
					<table border="0" cellspacing="0" cellpadding="" width="100%">
						<tr>
							<td width="13.8%">品名</td>
							<td width="36.2%">马来西亚橡胶木方条</td>
							<td width="13.8%">含水率</td>
							<td width="36.2%">9-12%</td>
						</tr>
						<tr>
							<td>品牌</td>
							<td>-</td>
							<td>库存量</td>
							<td>300</td>
						</tr>
						<tr>
							<td>产地</td>
							<td>马来西亚</td>
							<td>价格</td>
							<td>3650.00</td>
						</tr>
						<tr>
							<td>规格</td>
							<td>6.35（6.5）*6.35*46-154cm</td>
							<td>计量单位</td>
							<td>立方米</td>
						</tr>
						<tr>
							<td>等级</td>
							<td>AB</td>
							<td>默认起售</td>
							<td>2</td>
						</tr>
						<tr>
							<td>材质</td>
							<td>橡胶木</td>
							<td>包装方式</td>
							<td>进口原包装</td>
						</tr>
						<tr>
							<td>提货地点</td>
							<td>江苏省苏州市常熟市辛庄大道隆力奇公司对面</td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>
			<!-- 左侧的商品简介、规格参数 end -->
			<!-- 右侧的相关推荐 start -->
			<div class="m-deatilMain-right f-fr">
				<h4>相关推荐</h4>
				<ul>
					<li>
						<a href="javascript:;">
							<span><img src="img/detail_bigImg.png" width="210" height="210"/></span>
							<h5>橡胶木木方</h5>
							<p>
								<b>3500.00</b>元/立方米
							</p>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<span><img src="img/detail_bigImg.png" width="210" height="210"/></span>
							<h5>橡胶木木方</h5>
							<p>
								<b>3500.00</b>元/立方米
							</p>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<span><img src="img/detail_bigImg.png" width="210" height="210"/></span>
							<h5>橡胶木木方</h5>
							<p>
								<b>3500.00</b>元/立方米
							</p>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<span><img src="img/detail_bigImg.png" width="210" height="210"/></span>
							<h5>橡胶木木方</h5>
							<p>
								<b>3500.00</b>元/立方米
							</p>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<span><img src="img/detail_bigImg.png" width="210" height="210"/></span>
							<h5>橡胶木木方</h5>
							<p>
								<b>3500.00</b>元/立方米
							</p>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<span><img src="img/detail_bigImg.png" width="210" height="210"/></span>
							<h5>橡胶木木方</h5>
							<p>
								<b>3500.00</b>元/立方米
							</p>
						</a>
					</li>
				</ul>
			</div>
			<!-- 右侧的相关推荐 end -->
		</div>
		<!-- 商品简介、规格参数、相关推荐 end -->
	</div>
</div>
<!-- 商品详情 end -->