<!--轮播图-->
<div class="m-siwper">
	<!--轮播图主体-->
	<div class="swiper-container">
		<!--分页器-->
		<div class="pagination"></div>
		<div class="swiper-wrapper">
			<div class="swiper-slide u-slide1">
				<div class="m-siwper-text">
					<div class="animated u-slogan">
						让木材交易变得简单
					</div>
					<div class="animated u-slogan2">
						选择我们没有错,期待与您合作愉快!
					</div>
				</div>
			</div>
			<div class="swiper-slide u-slide2">
				<div class="m-siwper-text">
					<div class="animated u-slogan">
						让木材交易变得简单
					</div>
					<div class="animated u-slogan2">
						选择我们没有错,期待与您合作愉快!
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--采购流程-->
<div class="w m-purchasingProcess f-cb f-boxSizing">
	<!--标题-->
	<h4 class="f-fl">
		<p>采购<br />流程</p>
	</h4>
	<ul class="f-fr">
		<li>
			<span class="u-img"><img src="img/czxx.png"/></span>
			<span class="u-txt">查找信息</span>
			<span class="u-xian"></span>
		</li>
		<li>
			<span class="u-img"><img src="img/jrgwc.png"/></span>
			<span class="u-txt">加入购物车</span>
			<span class="u-xian"></span>
		</li>
		<li>
			<span class="u-img"><img src="img/zxxd.png"/></span>
			<span class="u-txt">在线下单</span>
			<span class="u-xian"></span>
		</li>
		<li>
			<span class="u-img"><img src="img/wcfk.png"/></span>
			<span class="u-txt">完成付款</span>
			<span class="u-xian"></span>
		</li>
		<li>
			<span class="u-img"><img src="img/txthd.png"/></span>
			<span class="u-txt">填写提货单</span>
			<span class="u-xian"></span>
		</li>
		<li>
			<span class="u-img"><img src="img/qqth.png"/></span>
			<span class="u-txt">前去提货</span>
			<span class="u-xian"></span>
		</li>
		<li>
			<span class="u-img"><img src="img/qrsh.png"/></span>
			<span class="u-txt">确认收货</span>
			<span class="u-xian"></span>
		</li>
		<li>
			<span class="u-img"><img src="img/jywc.png"/></span>
			<span class="u-txt">交易完成</span>
			<span class="u-xian"></span>
		</li>
	</ul>
</div>
<!--求购专区-->
<div class="w m-templateSection f-boxSizing m-qgzq">
	<!--标题-->
	<h2 class="m-templateSection-h2 f-cb">
		<div class="u-h2-left f-fl">			
			<span class="u-img"><img src="img/qgzq.png"/></span><span class="u-title">求购专区</span>
		</div>
		<a class="u-h2-right f-fr" href="javascript:;">
			更多>
		</a>
	</h2>
	<!--主体部分-->
	<div class="m-templateSection-body f-cb">
		<!--左边表格-->
		<table class="m-table f-fl" border="0" cellspacing="" cellpadding="">
			<tr class="u-title">
				<th>标题</th>
				<th>规格</th>
				<th>数量</th>
				<th>意向价格</th>
				<th>交货地址</th>
				<th>发布时间</th>
				<th>联系买家</th>
			</tr>
			<tr>
				<td>求购落叶松地龙骨</td>
				<td>各种规格</td>
				<td>50立方</td>
				<td class="u-yxjg">双方议价</td>
				<td>太仓</td>
				<td>2017-08-22</td>
				<td><img src="img/lxmj.png"/></td>
			</tr>
			<tr>
				<td>求购落叶松地龙骨</td>
				<td>各种规格</td>
				<td>50立方</td>
				<td class="u-yxjg">双方议价</td>
				<td>太仓</td>
				<td>2017-08-22</td>
				<td><img src="img/lxmj.png"/></td>
			</tr>
			<tr>
				<td>求购落叶松地龙骨</td>
				<td>各种规格</td>
				<td>50立方</td>
				<td class="u-yxjg">双方议价</td>
				<td>太仓</td>
				<td>2017-08-22</td>
				<td><img src="img/lxmj.png"/></td>
			</tr>
			<tr>
				<td>求购落叶松地龙骨</td>
				<td>1.2或1.5cm*1.22m*2.44m</td>
				<td>50立方</td>
				<td class="u-yxjg">双方议价</td>
				<td>太仓</td>
				<td>2017-08-22</td>
				<td><img src="img/lxmj.png"/></td>
			</tr>
			<tr>
				<td>求购落叶松地龙骨</td>
				<td>各种规格</td>
				<td>50立方</td>
				<td class="u-yxjg">双方议价</td>
				<td>太仓</td>
				<td>2017-08-22</td>
				<td><img src="img/lxmj.png"/></td>
			</tr>
			<tr>
				<td>求购落叶松地龙骨</td>
				<td>各种规格</td>
				<td>50立方</td>
				<td class="u-yxjg">双方议价</td>
				<td>太仓</td>
				<td>2017-08-22</td>
				<td><img src="img/lxmj.png"/></td>
			</tr>
			<tr>
				<td>求购落叶松地龙骨</td>
				<td>各种规格</td>
				<td>50立方</td>
				<td class="u-yxjg">双方议价</td>
				<td>太仓</td>
				<td>2017-08-22</td>
				<td><img src="img/lxmj.png"/></td>
			</tr>
			<tr>
				<td>求购落叶松地龙骨</td>
				<td>各种规格</td>
				<td>50立方</td>
				<td class="u-yxjg">双方议价</td>
				<td>太仓</td>
				<td>2017-08-22</td>
				<td><img src="img/lxmj.png"/></td>
			</tr>
		</table>
		<!--右侧菜单-->
		<div class="m-templateSection-right f-fr">
			<!--发布供求-->
			<div class="u-templateSection-btn u-btn-fbgq">
				<span>发布供求</span>
			</div>
			<!--找货助手-->
			<div class="u-templateSection-btn u-btn-zhzs">
				<span>找货助手</span>
			</div>
			<!--免登录找货助手-->
			<div class="m-btn-mdlzhzs">
				<h4>
					<span class="u-img"><img src="img/mdlzhzs-ico.png"/></span>
					<span class="u-text">免登录找货助手</span>
				</h4>
				<form action="" method="get" class="f-cb" style="font-size: 0;">
					<textarea class="f-boxSizing" name="" rows="4" cols="" placeholder="写下您的真实需求，我们为您找最便宜的货！"></textarea>
					<!--联系人-->
					<input class="u-linkman f-boxSizing f-fl" type="text" name="" id="" value="" placeholder="联系人"/>
					<!--手机号-->
					<input class="u-mobile f-boxSizing f-fr" type="text" name="" id="" value="" placeholder="手机号"/>
					<!--提交按钮-->
					<input type="submit" name="" id="" value="委托找货"/>
				</form>
			</div>
		</div>
	</div>
</div>
<!--推荐供应商-->
<div class="m-supplier w f-cb">
	<ul>
		<li>
			<a href="javascript:;">
				<img src="img/lcjt.png" width="100%"/>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<img src="img/rsmy.png" width="100%"/>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<img src="img/symy.png" width="100%"/>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<img src="img/czc.png" width="100%"/>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<img src="img/xlp.png" width="100%"/>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<img src="img/bymy.png" width="100%"/>
			</a>
		</li>
	</ul>
</div>
<!--资源专区-->
<div class="w m-templateSection f-boxSizing m-zyzq">
	<!--标题-->
	<h2 class="m-templateSection-h2 f-cb">
		<div class="u-h2-left f-fl">			
			<span class="u-img"><img src="img/zyzq.png"/></span><span class="u-title">资源专区</span>
		</div>
		<a style="display: none;" class="u-h2-right f-fr" href="javascript:;">
			更多>
		</a>
	</h2>
	<!--主体部分-->
	<div class="m-templateSection-body f-cb">
		<!--左边表格-->
		<table class="m-table f-fl" border="0" cellspacing="" cellpadding="">
			<tr class="u-title">
				<th>品名</th>
				<th>规格</th>
				<th>数量</th>
				<th>意向价格</th>
				<th>交货地址</th>
				<th>发布时间</th>
				<th>查看详情</th>
			</tr>
			<tr>
				<td>求购落叶松地龙骨</td>
				<td>各种规格</td>
				<td>50立方</td>
				<td class="u-yxjg">双方议价</td>
				<td>太仓</td>
				<td>2017-08-22</td>
				<td><img src="img/ckxq.png"/></td>
			</tr>
			<tr>
				<td>求购落叶松地龙骨</td>
				<td>各种规格</td>
				<td>50立方</td>
				<td class="u-yxjg">双方议价</td>
				<td>太仓</td>
				<td>2017-08-22</td>
				<td><img src="img/ckxq.png"/></td>
			</tr>
			<tr>
				<td>求购落叶松地龙骨</td>
				<td>各种规格</td>
				<td>50立方</td>
				<td class="u-yxjg">双方议价</td>
				<td>太仓</td>
				<td>2017-08-22</td>
				<td><img src="img/ckxq.png"/></td>
			</tr>
			<tr>
				<td>求购落叶松地龙骨</td>
				<td>各种规格</td>
				<td>50立方</td>
				<td class="u-yxjg">双方议价</td>
				<td>太仓</td>
				<td>2017-08-22</td>
				<td><img src="img/ckxq.png"/></td>
			</tr>
			<tr>
				<td>求购落叶松地龙骨</td>
				<td>各种规格</td>
				<td>50立方</td>
				<td class="u-yxjg">双方议价</td>
				<td>太仓</td>
				<td>2017-08-22</td>
				<td><img src="img/ckxq.png"/></td>
			</tr>
			<tr>
				<td>求购落叶松地龙骨</td>
				<td>各种规格</td>
				<td>50立方</td>
				<td class="u-yxjg">双方议价</td>
				<td>太仓</td>
				<td>2017-08-22</td>
				<td><img src="img/ckxq.png"/></td>
			</tr>
			<tr>
				<td>求购落叶松地龙骨</td>
				<td>各种规格</td>
				<td>50立方</td>
				<td class="u-yxjg">双方议价</td>
				<td>太仓</td>
				<td>2017-08-22</td>
				<td><img src="img/ckxq.png"/></td>
			</tr>
			<tr>
				<td>求购落叶松地龙骨</td>
				<td>各种规格</td>
				<td>50立方</td>
				<td class="u-yxjg">双方议价</td>
				<td>太仓</td>
				<td>2017-08-22</td>
				<td><img src="img/ckxq.png"/></td>
			</tr>
		</table>
		<!--右侧菜单-->
		<div class="m-templateSection-right f-fr">
			<!--最新交易-->
			<div class="m-newDeal">
				<div class="u-title">
					最新交易
				</div>
				<div class="m-hotNews-table-container">
					<table class="m-hotNews-table" border="0" cellspacing="" cellpadding="">
						<tr>
							<th width="20%">会员</th>
							<th width="30%">采购产品</th>
							<th width="25%">时间</th>
							<th width="25%">状态</th>
						</tr>
					</table>
					<div id="A1" style="height: 352px;overflow: hidden;">
						<table class="m-hotNews-table m-hotNews-table-2" border="0" cellspacing="" cellpadding="">
							<tr>
								<td width="20%">刘开发</td>
								<td width="30%">樟子松樟子松樟子松樟子松樟子松樟子松樟子松樟子松</td>
								<td width="25%">08-23</td>
								<td width="25%">完成</td>
							</tr>
							<tr>
								<td width="20%">王三</td>
								<td width="30%">樟子松</td>
								<td width="25%">08-23</td>
								<td width="25%">完成</td>
							</tr>
							<tr>
								<td width="20%">王三</td>
								<td width="30%">樟子松</td>
								<td width="25%">08-23</td>
								<td width="25%">完成</td>
							</tr>
							<tr>
								<td width="20%">王三</td>
								<td width="30%">樟子松</td>
								<td width="25%">08-23</td>
								<td width="25%">完成</td>
							</tr>
							<tr>
								<td width="20%">王三</td>
								<td width="30%">樟子松</td>
								<td width="25%">08-23</td>
								<td width="25%">完成</td>
							</tr>
							<tr>
								<td width="20%">王三</td>
								<td width="30%">樟子松</td>
								<td width="25%">08-23</td>
								<td width="25%">完成</td>
							</tr>
							<tr>
								<td width="20%">王三</td>
								<td width="30%">樟子松</td>
								<td width="25%">08-23</td>
								<td width="25%">完成</td>
							</tr>
							<tr>
								<td width="20%">王三</td>
								<td width="30%">樟子松</td>
								<td width="25%">08-23</td>
								<td width="25%">完成</td>
							</tr>
							<tr>
								<td width="20%">王三</td>
								<td width="30%">樟子松</td>
								<td width="25%">08-23</td>
								<td width="25%">完成</td>
							</tr>
							<tr>
								<td width="20%">王三</td>
								<td width="30%">樟子松</td>
								<td width="25%">08-23</td>
								<td width="25%">完成</td>
							</tr>
							<tr>
								<td width="20%">王三</td>
								<td width="30%">樟子松</td>
								<td width="25%">08-23</td>
								<td width="25%">完成</td>
							</tr>
							<tr>
								<td width="20%">王三</td>
								<td width="30%">樟子松</td>
								<td width="25%">08-23</td>
								<td width="25%">完成</td>
							</tr>
							<tr>
								<td width="20%">王三</td>
								<td width="30%">樟子松</td>
								<td width="25%">08-23</td>
								<td width="25%">完成</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--广告横幅-->
<div class="m-banner w">
	<ul class="f-cb">
		<li>
			<img src="img/banner-1.png" width="100%"/>
		</li>
		<li>
			<img src="img/banner-2.png" width="100%"/>
		</li>
		<li>
			<img src="img/banner-3.png" width="100%"/>
		</li>
	</ul>
</div>
<!--新闻-->
<div class="m-new w f-cb f-boxSizing">
	<div class="m-new-container">	
		<!--行业资讯-->
		<div class="m-industryInfo f-fl">
			<h3>行业资讯</h3>
			<!--头条-->
			<div class="m-industryInfo-hot f-cb">			
				<span class="f-fl u-img"><img src="img/hyzx-img.png" width="100%"/></span>
				<div class="f-fr u-text">
					<h4><a href="javascript:;">云南省大理市开展木材批次检疫工作</a></h4>
					<p class="u-p dot-ellipsis dot-height-72">结合"2017年林业植物检疫执法专项行动"，云南省大理市林检局对全市辖区内的木材经营企业单位和个人开展了木材批次检疫工作，批次检疫主要针对在全市辖区内堆放一个月以上的库存木材结合"2017年林业植物检疫执法专项行动"，云南省大理市林检局对全市辖区内的木材经营企业单位和个人开展了木材批次检疫工作，批次检疫主要针对在全市辖区内堆放一个月以上的库存木材 </p>
					<div class="f-cb u-time">
						<p class="f-fl">时间：2017-08-15   来源：尚木网</p>
						<a href="javascript:;" class="f-fr">[阅读全文]</a>
					</div>
				</div>
			</div>
			<!--列表-->
			<ul class="m-list">
				<li>
					<a href="javascript:;">
						<p class="u-title f-fl">封厂、关停、涨价！严查4个月！环保攻</p>
						<span class="f-fr u-time">2017-08-22</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<p class="u-title f-fl">封厂、关停、涨价！严查4个月！环保与安全检查双助攻封厂、关停、涨价！严查4个月！环保与安全检查双助攻封厂、关停、涨价！严查4个月！环保与安全检查双助攻</p>
						<span class="f-fr u-time">2017-08-22</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<p class="u-title f-fl">封厂、关停、涨价！严查4个月！环保与安</p>
						<span class="f-fr u-time">2017-08-22</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<p class="u-title f-fl">封厂、关停、涨价！严查4个月！环保与</p>
						<span class="f-fr u-time">2017-08-22</span>
					</a>
				</li>
			</ul>
		</div>
		<!--行情走势-->
		<div class="m-marketTrends f-fr">
			<h3>行情走势</h3>
			<!--列表-->
			<ul class="m-list">
				<li>
					<a href="javascript:;">
						<p class="u-title f-fl">封厂、关停、涨价！严</p>
						<span class="f-fr u-time">2017-08-22</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<p class="u-title f-fl">封厂、关停、涨价！严查4个月！环保</p>
						<span class="f-fr u-time">2017-08-22</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<p class="u-title f-fl">封厂、关停、涨价！严查4个月！环保与安全检查双助攻</p>
						<span class="f-fr u-time">2017-08-22</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<p class="u-title f-fl">封厂关停涨价！严查4个月！环保与安</p>
						<span class="f-fr u-time">2017-08-22</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<p class="u-title f-fl">封厂、关停、涨价！严查4个月！环保与安全检查双助攻</p>
						<span class="f-fr u-time">2017-08-22</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<p class="u-title f-fl">封厂、关停、涨价！严查4个月！环保与安全检查双助攻封厂、关停、涨价！严查4个月！环保与安全检查双助攻封厂、关停、涨价！严查4个月！环保与安全检查双助攻</p>
						<span class="f-fr u-time">2017-08-22</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<p class="u-title f-fl">封厂、关停、涨价！严查4个月！环保与安全检查双助攻</p>
						<span class="f-fr u-time">2017-08-22</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<p class="u-title f-fl">封厂、关停、</p>
						<span class="f-fr u-time">2017-08-22</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<p class="u-title f-fl">封厂、关停、</p>
						<span class="f-fr u-time">2017-08-22</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<p class="u-title f-fl">封厂、关停、涨价！严查4个月！环保与安全检查双助攻</p>
						<span class="f-fr u-time">2017-08-22</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>





<script type="text/javascript">
	window.onload = function() {
		setTimeout(function () {
			$('.u-slogan').addClass('fadeInDown')
	    	$('.u-slogan2').addClass('fadeInUp')
		},500)
		var mySwiper = new Swiper('.m-siwper .swiper-container',{
			loop: true,
			autoplay: 5000,
			pagination: '.pagination',
			paginationClickable :true,
			autoplayDisableOnInteraction : false,
			//其他设置
			/*回调函数*/
			onSlideChangeEnd: function(swiper){
				$('.u-slogan').addClass('fadeInDown')
				$('.u-slogan2').addClass('fadeInUp')
			},
			onSlideChangeStart: function(swiper){
				$('.u-slogan').removeClass('fadeInDown')
				$('.u-slogan2').removeClass('fadeInUp')
		    }
		}); 
		$('.m-siwper .pagination').css({
			'margin-left':-$('.m-siwper .pagination').outerHeight()/2,
		})
		
	}
</script>
<style type="text/css">
	.m-leftNav-container {
		display: block;
	}
</style>
