<!-- 现货资源 start -->
<div class="g-spotgoods g-spotgoods-container">
	<div class="g-spotgoods w">
		<!-- 面包屑导航 start -->
		<div class="m-crumbs">
			<ul class="f-cb">
				<li><a href="/">首页</a></li>
				<li><a href="buyresource">现货资源</a></li>
			</ul>
		</div>
		<!-- 面包屑导航 end -->
		<!-- 主体 start -->
		<div class="m-sg-main">
			<!-- 删选 start -->
			<div class="m-co-option f-cb">
				<div class="m-co-option-left f-fl f-cb">
					<!-- 排序条件 start -->
					<ul class="m-condition-group f-fl">
						<li class="z-default active">
							<span>默认</span>
						</li>
						<li class="z-time">
							<span>时间</span>
							<span class="u-img"><img src="img/jt-sort.png"/></span>
						</li>
						<li class="z-price">
							<span>价格</span>
							<span class="u-img"><img src="img/jt-sort.png"/></span>
						</li>
					</ul>
					<!-- 排序条件 end -->
					<!-- 价格区间 start -->
					
					<form  class="m-coOption-input-group f-fl" method="">
						<span class="f-fl">价格</span>
						<div class="m-price-section f-fl">
							<span class="m-price-section-span">
								<span>¥</span>
								<input type="text" name="" id="" value=""  required/>
							</span>
							<span>-</span>
							<span class="m-price-section-span">
								<span>¥</span>
								<input type="text" name="" id="" value="" required/>
							</span>
						</div>
						<input class="u-price-section-btn" type="submit" id="" value="确定" />
					</form>
					<!-- 价格区间 end -->
					<!-- 根据品名搜索 start -->
					<div class="m-coOption-input-group f-cb f-fl">
						<span class="f-fl">品名</span>
						<div class="m-co-option-input f-fr">
							<input type="" name="" id="" value="" placeholder="输入品名搜索"/>
							<span class="m-co-option-input-btn"><img src="img/search-ico-small.png"/></span>
						</div>
					</div>
				</div>
				<div class="m-co-option-right f-fr">
					<span class="u-sum">总共888个资源</span>
					<!-- 翻页 -->
					<span class="m-page f-banselect">
						<span class="u-prev active">&lt;</span>
						<span class="u-pageNum">
							<span class="u-nowPage">1</span>/<span class="u-sumPage"></span>
						</span>
						<span class="u-next">&gt;</span>
					</span>
				</div>
			</div>
			<!-- 删选 end -->
			<!-- 现货资源列表 start -->
			<div class="m-sgList">
				<ul>
					<li class="m-sgList-li1" data-timeSort='1505736634520'>
						<!--图片-->
						<span class="m-sgList-img"><img src="img/xhzy_1.png" width="100%"/></span>
						<!--详细信息-->
						<div class="m-sgList-main">
							<!--名字-->
							<h4 class="f-cb">
								<span class="u-title f-fl">越南橡胶木方料</span>
								<span class="u-price-container f-fl">
									<span class="u-price">1120.00</span>元/立方米
								</span>
							</h4>
							<!--规格等信息-->
							<ul class="m-SpecificationInfo f-cb">
								<li>
									<span class="u-attr">规格：</span>
									<span>5.5*5.5*90/95/100cm</span>
								</li>
								<li>
									<span class="u-attr">产地：</span>
									<span>越南</span>
								</li>
								<li>
									<span class="u-attr">交货地：</span>
									<span>江苏省苏州市常熟市</span>
								</li>
								<li>
									<span class="u-attr">等级：</span>
									<span>AB级</span>
								</li>
								<li>
									<span class="u-attr">库存：</span>
									<span>300立方米</span>
								</li>
								<li>
									<span class="u-attr">发布时间：</span>
									<span class="u-time">2017-08-04  11:15</span>
								</li>
							</ul>
							<!--认证信息-->
							<ul class="m-identificationInfo f-cb">
								<li class="u-rzmj">
									<span class="u-img"><img src="img/rz-ico.png"/></span>
									<span>认证卖家</span>
								</li>
								<li class="u-cxmj">
									<span class="u-img"><img src="img/rz-ico.png"/></span>
									<span>诚信卖家</span>
								</li>
							</ul>
						</div>
						<!--查看详情按钮-->
						<div class="m-sgList-btns">
							<a href="details" class="u-btn-ckxq" target="_blank">查看详情</a><br />
							<a class="u-btn-zxzx" href="javascript:;">
								<span><img src="img/contact-green.png"/></span>
								<span>在线咨询</span>
							</a>
						</div>
					</li>
					<li class="m-sgList-li1" data-timeSort='1516736644720'>
						<!--图片-->
						<span class="m-sgList-img"><img src="img/xhzy_1.png" width="100%"/></span>
						<!--详细信息-->
						<div class="m-sgList-main">
							<!--名字-->
							<h4 class="f-cb">
								<span class="u-title f-fl">越南橡胶木方料</span>
								<span class="u-price-container f-fl">
									<span class="u-price">343.00</span>元/立方米
								</span>
							</h4>
							<!--规格等信息-->
							<ul class="m-SpecificationInfo f-cb">
								<li>
									<span class="u-attr">规格：</span>
									<span>5.5*5.5*90/95/100cm</span>
								</li>
								<li>
									<span class="u-attr">产地：</span>
									<span>越南</span>
								</li>
								<li>
									<span class="u-attr">交货地：</span>
									<span>江苏省苏州市常熟市</span>
								</li>
								<li>
									<span class="u-attr">等级：</span>
									<span>AB级</span>
								</li>
								<li>
									<span class="u-attr">库存：</span>
									<span>900立方米</span>
								</li>
								<li>
									<span class="u-attr">发布时间：</span>
									<span class="u-time">2017-10-04  22:52</span>
								</li>
							</ul>
							<!--认证信息-->
							<ul class="m-identificationInfo f-cb">
								<li class="u-rzmj">
									<span class="u-img"><img src="img/rz-ico.png"/></span>
									<span>认证卖家</span>
								</li>
								<li class="u-cxmj">
									<span class="u-img"><img src="img/rz-ico.png"/></span>
									<span>诚信卖家</span>
								</li>
							</ul>
						</div>
						<!--查看详情按钮-->
						<div class="m-sgList-btns">
							<a href="details" class="u-btn-ckxq" target="_blank">查看详情</a><br />
							<a class="u-btn-zxzx" href="javascript:;">
								<span><img src="img/contact-green.png"/></span>
								<span>在线咨询</span>
							</a>
						</div>
					</li>
					<li class="m-sgList-li1" data-timeSort='1509736624520'>
						<!--图片-->
						<span class="m-sgList-img"><img src="img/xhzy_1.png" width="100%"/></span>
						<!--详细信息-->
						<div class="m-sgList-main">
							<!--名字-->
							<h4 class="f-cb">
								<span class="u-title f-fl">越南橡胶木方料</span>
								<span class="u-price-container f-fl">
									<span class="u-price">4354.00</span>元/立方米
								</span>
							</h4>
							<!--规格等信息-->
							<ul class="m-SpecificationInfo f-cb">
								<li>
									<span class="u-attr">规格：</span>
									<span>5.5*5.5*90/95/100cm</span>
								</li>
								<li>
									<span class="u-attr">产地：</span>
									<span>越南</span>
								</li>
								<li>
									<span class="u-attr">交货地：</span>
									<span>江苏省苏州市常熟市</span>
								</li>
								<li>
									<span class="u-attr">等级：</span>
									<span>AB级</span>
								</li>
								<li>
									<span class="u-attr">库存：</span>
									<span>400立方米</span>
								</li>
								<li>
									<span class="u-attr">发布时间：</span>
									<span class="u-time">2017-09-05  21:05</span>
								</li>
							</ul>
							<!--认证信息-->
							<ul class="m-identificationInfo f-cb">
								<li class="u-rzmj">
									<span class="u-img"><img src="img/rz-ico.png"/></span>
									<span>认证卖家</span>
								</li>
								<li class="u-cxmj">
									<span class="u-img"><img src="img/rz-ico.png"/></span>
									<span>诚信卖家</span>
								</li>
							</ul>
						</div>
						<!--查看详情按钮-->
						<div class="m-sgList-btns">
							<a href="details" class="u-btn-ckxq" target="_blank">查看详情</a><br />
							<a class="u-btn-zxzx" href="javascript:;">
								<span><img src="img/contact-green.png"/></span>
								<span>在线咨询</span>
							</a>
						</div>
					</li>
					<li class="m-sgList-li1" data-timeSort='1406536634520'>
						<!--图片-->
						<span class="m-sgList-img"><img src="img/xhzy_1.png" width="100%"/></span>
						<!--详细信息-->
						<div class="m-sgList-main">
							<!--名字-->
							<h4 class="f-cb">
								<span class="u-title f-fl">越南橡胶木方料</span>
								<span class="u-price-container f-fl">
									<span class="u-price">6546.00</span>元/立方米
								</span>
							</h4>
							<!--规格等信息-->
							<ul class="m-SpecificationInfo f-cb">
								<li>
									<span class="u-attr">规格：</span>
									<span>5.5*5.5*90/95/100cm</span>
								</li>
								<li>
									<span class="u-attr">产地：</span>
									<span>越南</span>
								</li>
								<li>
									<span class="u-attr">交货地：</span>
									<span>江苏省苏州市常熟市</span>
								</li>
								<li>
									<span class="u-attr">等级：</span>
									<span>AB级</span>
								</li>
								<li>
									<span class="u-attr">库存：</span>
									<span>1000立方米</span>
								</li>
								<li>
									<span class="u-attr">发布时间：</span>
									<span class="u-time">2017-09-02  1:15</span>
								</li>
							</ul>
							<!--认证信息-->
							<ul class="m-identificationInfo f-cb">
								<li class="u-rzmj">
									<span class="u-img"><img src="img/rz-ico.png"/></span>
									<span>认证卖家</span>
								</li>
								<li class="u-cxmj">
									<span class="u-img"><img src="img/rz-ico.png"/></span>
									<span>诚信卖家</span>
								</li>
							</ul>
						</div>
						<!--查看详情按钮-->
						<div class="m-sgList-btns">
							<a href="details" class="u-btn-ckxq" target="_blank">查看详情</a><br />
							<a class="u-btn-zxzx" href="javascript:;">
								<span><img src="img/contact-green.png"/></span>
								<span>在线咨询</span>
							</a>
						</div>
					</li>
				</ul>
				<!--分页  start -->
				<div class="page"></div>
				<!-- 分页end -->
			</div>
			<!-- 现货资源列表 end -->
		</div>
		<!-- 主体 end -->
	</div>
</div>
<!-- 现货资源 end -->
	
<script type="text/javascript">
	$(function () {
		/*调用分页*/
		onPage(20)
		
	})
</script>
